:root {
    --background-introduccion-mobile: #ffffff;
    --background-sobre-mobile: #ff9cf2;
    --background-formacion-mobile: #EAF2FD;
    --background-ceniza:#F5F5F5 ;
    --background-blanco: #ffffff;
    --background-negro: #000000;
    --border-cabecera-mobile: #103D4A;
    --fuente-ceniza-claro: #666666;
    --fuente-ceniza-oscuro: #4F4C4C;
    --fuente-enlace: #0006FF;
    --background-footer: #333333;
    --montserrat: 'Montserrat', sans-serif;
    --open-sans: 'Open Sans', sans-serif;
}

body {
    font-family: var(--open-sans);
}

.container {
    padding-right: 6%;
    padding-left: 6%;
}



@media screen and (min-width: 1024px) {
    .container {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }
}