.hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--background-negro);
    background: var(--background-ceniza);
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.contenido__hobbies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hobbies__titulo {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 2rem;
}


.hobbies__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
    width: 100px;
    height: 100px;
    background: #ffffff;
    justify-content: flex-end;
    padding: 1rem;
    margin: 0.5rem;
}

.hobbies__text {
    text-decoration: none;
    font-weight: 530;
    color: #333;
    display: block;
    font-size: 10px;
    width: 100%;
    left: 0;
}

.hobbies__imagen {
    height: 38px;
    width: 30px;
    color: #fff;
}
.senderismo {
    background-image: url('/img/icons/hobbies/senderismo.png');
    background-repeat: no-repeat;
}
.ciclismo {
    background-image: url('/img/icons/hobbies/ciclismo.png');
    background-repeat: no-repeat;
}
.viajar {
    background-image: url('/img/icons/hobbies/viajar.png');
    background-repeat: no-repeat;
}
.musica {
    background-image: url('/img/icons/hobbies/musica.png');
    background-repeat: no-repeat;
}